*
{
		box-sizing: border-box;
}

html
{
		background: #734BE4;
		color: #F3F4F4;
		align-content: center;
}

body
{
		font: 10pt sans-serif;
		padding: 0.08cm;
}

p
{
		text-indent: 0%;
		margin: 0.1cm 0cm;
		padding: 0%;
}

aside
{
		float: right;
		padding: 0.1cm;
		font: 7pt sans-serif;
		border: 1px solid #C4BEBC;
		background: #0F1415;
		color: #6F729F;
}

dl dt
{
		font: 15pt sans-serif;
		font-weight: bolder;
		margin: 0.3cm 0cm;
		margin-bottom: 0.03cm;
}

dl dd
{
		color: #9395AE;
}

menu
{
		margin: 0cm;
		list-style: none;
		padding: 0px;
		gap: 0.45cm;
		display: flex;
		flex-flow: column;
		overflow: scroll none;
}

article.link
{
		background: #343630;
		color: #7F8183;
		padding: 0.3cm;
		border-radius: 0.14cm;
		box-shadow: 0.1cm 0.1cm 0.24cm #0000007F;
		text-decoration: none;
		margin: 0.1cm 0cm;
}

a {
		text-decoration-style: none;
		text-decoration-style: -moz-none;
		text-decoration-line: none;
		color: inherit;
		text-underline-position: above;
		text-decoration: none;
		-webkit-text-decoration: none;
		-moz-text-decoration: none;
		font-weight: bolder;
}

a:visited
{
		color: #348FFF;
}

a:hover
{
		text-decoration: underline;
}

iframe:not(.native)
{
		border: none;
		background: #FFFFFF;
		color: #000000;
		width: 100%;
		height: 340px;
}